body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

input[type='text'], input[type='password'], input[type='email'], input[type='mail'], select {
    width: 100%;
    padding: 10px 1px;
    transition: 0.2s ease all;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: transparent;
}

input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='mail'], select:focus {
    border-bottom: 1px solid #369742;
    outline: none;
}

a.button, button, input[type='submit'] {
    background-color: #369742;
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 50px;
    color: white !important;
    height: auto !important;
    width: auto !important;
    font-family: 'Montserrat', sans-serif;
    border: 0;
}

a, a:link, a:visited {
    color: #238e31;
}

a.button:hover, button:hover, input[type='submit']:hover {
    background-color: #238e31;
    text-decoration: none;
}

a.button:focus, button:focus, input[type='submit']:focus {
    text-decoration: none;
}

a.button:disabled, button:disabled, input[type='submit']:disabled {
    background-color: #c1c1c1;
    color: #909090;
}

a.button:visited {
    text-decoration: none;
}

.main-color {
    color: #369742 !important;
}

.error-color {
    color: #963636 !important;
}

.inline-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.inline-menu li {
    display: inline;
    margin: 0px 5px;
}

header {
    height: 60px;
    border-bottom: 1px solid #dedede;
}

header .container {
    height: 100%;
}

header a {
    height: 100%;
}

header .logo {
    height: 100%;
    padding: 10px 0px;
}

footer {
    margin-bottom: 30px;
}

footer .footer-logo {
    height: 40px;
    margin: 10px 0px;
}

footer hr {
    margin-top: 0;
}

.hero {
    width: 60%;
    font-family: 'Montserrat';
    font-size: 40px;
    margin: 40px 0px;
}

#map {
    height: 550px;
}

.form-wraper {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 #dce0e0
}

.form-wraper .input {
    margin-bottom: 25px;
}

.form-wraper .input-wraper {
    width: 50%;
}

.form-wraper .input-wraper:first-child {
    padding-right: 15px;
}

.search-bar {
    margin: 10px 0px;
    border: 1px solid #e8e5e5;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 #dce0e0
}

.search-form .search-bar .input {
    width: 50%;
    padding: 25px;
    border-right: 1px solid #e8e5e5;
}

.search-form .search-bar .input:last-child {
    border: 0px;
}

.pac-icon {
    display: none;
}

.pac-item {
    padding: 8px 10px;
}

.arrow {
    font-size: 30px;
    margin: 0px 15px;
}

.search-wraper {
    width: 35%;
    padding: 20px;
}

.search-wraper .input {
    padding-bottom: 25px;
}

.map-wraper {
    position: relative;
    height: 550px;
}

.map-wraper .loading-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-color: #FFF;
    opacity: 1;
    transition: 0.4s ease all;
}

.loading-cover-toggle {
    opacity: 0 !important;
    z-index: 0 !important;
}

.steps-wraper {
    width: 80%;
    margin: 0 auto;
}

.step img.step-img {
    width: 30%;
    max-height: 200px;
    object-fit: contain;
}

.step .step-info {
    width: 70%;
}

.step:nth-child(even) .step-img {
    order: 10;
}

.settings-wraper {
    margin-top: 30px;
}

.settings-menu {
    width: 30%;
}

.settings-items {
    width: 70%;
    min-height: 500px;
}

.user-options {
    list-style: none;
}

.user-options {
    list-style: none;
}

.settings-menu .user-options a {
    color: #000;
    text-decoration: none;
    padding-left: 20px;
    border-left: 1px solid transparent;
    transition: 0.2s ease all;
}

.settings-menu .user-options a:hover {
    color: #369742;
    text-decoration: none;
}

.settings-menu .user-options .active a {
    border-left: 1px solid #369742;
}

.user-options li {
    padding: 5px;
    padding-left: 15px;
}
